<form id="trip-info-form" class="trip-info" [formGroup]="rsvInfoForm" (ngSubmit)="onSubmit(rsvInfoForm.value)">
    <div class="row">
        <div class="col-md-6 col-xs-12">
            <input id="rsv-number" class="form-control" type="text" formControlName="rsvNumber"
                placeholder="Reservation number">
        </div>
        <div class="col-md-6 col-xs-12">
            <input id="rsv-last-name" class="form-control" type="text" formControlName="lastName"
                placeholder="Last Name on Reservation">
        </div>
    </div>
    <div class="row sail-info">
        <div class="col-md-6 col-xs-12">
            <label class="form-label">SHIP</label>
            <select id="rsv-ship" class="form-control" class="form-select" formControlName="ship">
                <option value="" selected disabled>Select Ship</option>
                <option *ngFor="let cruise of cruises;" [value]=cruise>{{cruise}}</option>
            </select>
        </div>
        <div class="col-md-6 col-xs-12">
            <div class="row" formGroupName="sailDate">
                <label class="form-label">SAIL DATE</label>
                <div class="col-md-4 col-xs-12">
                    <select id="rsv-sail-month" class="form-control" type="text" formControlName="month">
                        <option value="" selected disabled>Month</option>
                        <option *ngFor="let month of months;" [value]=month>{{month}}</option>
                    </select>
                </div>
                <div class="col-md-4 col-xs-12">
                    <select id="rsv-sail-day" class="form-control" formControlName="day" placeholder="Day">
                        <option value="" selected disabled>Day</option>
                        <option *ngFor="let day of days" [value]=day>{{day}}</option>
                    </select>
                </div>
                <div class="col-md-4 col-xs-12">
                    <select id="rsv-sail-year" class="form-control" formControlName="year" placeholder="Year">
                        <option value="" selected disabled>Year</option>
                        <option *ngFor="let year of years" [value]=year>{{year}}</option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class="row submit-info">
        <div class="form-check col-12">
            <input formControlName="rememberInfo" class="form-check-input" type="checkbox" [value]=""
                id="remember-info">
            <label class="form-check-label" for="remember-info">
                Remember my information
            </label>
        </div>
        <div class="col-12">
            <button [disabled]="!rsvInfoForm.valid" class="btn submit-btn" type="submit">FIND
                RESERVATION</button>
        </div>

    </div>

</form>